body {
  font-family: "JetBrains Mono", monospace;
}
.container {
  max-width: 650px;
  margin: 20px auto 0;
  padding: 20px 30px;
  border: 2px solid #c1c0c0;
  border-radius: 4px;
}
.main-info {
  margin: 50px 80px 15px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  color: black;
  margin: 0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.today {
  font-size: 12px;
  line-height: 1.2;

  color: #545454;
  margin: 0;
}

.current-temperature {
  line-height: 1.2;
}
.current-temperature strong {
  font-size: 70px;
  color: black;
}
.current-temperature .units {
  font-size: 18px;
  vertical-align: top;
}
hr {
  border-top: 2px solid #000000;
  margin-bottom: 0;
}
.forecast img {
  margin: 0;
  max-width: 120px;
}
.code-link {
  text-align: center;
  margin: 0;
  padding: 0;
}
.forecast li {
  line-height: 1.5;
}
.forecast ul {
  margin: 30px 0 0;
}

.active {
  color: #000000;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast-day {
  line-height: 2px;

  padding: 15px;
}

.forecast-date {
  text-align: center;
  font-size: 16px;
  color: #323232;
}
.forecast-temp {
  text-align: center;
}
.forecast-icon {
  margin: 0 auto;
  width: 55px;
}
.forecast-temp {
  font-size: 14px;
}
.forecast-temp-max {
  color: #323232;
}
.forecast-temp-min {
  color: #969696;
}
.searching {
  margin: 10px 10px 20px;
}
.form {
  max-width: 300px;
  display: inline-flex;
}
.search {
  display: inline-flex;
}
