body {
  font-family: "JetBrains Mono", monospace;
}
.container {
  max-width: 500px;
  margin: 20px auto 0;
  padding: 20px 56px;
  border: 2px solid #a6a6a6;
  border-radius: 4px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin: 0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.today {
  font-size: 12px;
  line-height: 1.2;
  text-transform: capitalize;
}

.today {
  color: #545454;
  margin: 0;
}
.current-temperature {
  line-height: 1.2;
}
.current-temperature strong {
  font-size: 70px;
  color: black;
}
.current-temperature .units {
  font-size: 22px;
  vertical-align: top;
}
hr {
  border-top: 2px solid #000000;
}
.forecast img {
  max-width: 80px;
  margin: 0;
}
.code-link {
  text-align: center;
  margin: 0;
  padding: 0;
}
.forecast li {
  line-height: 1.5;
}
.forecast ul {
  margin: 5px 0;
}
